// ==============================================
// FOOTER
// ==============================================

// Footer
footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: $redFirebrick;
	color: #fff;
	padding: 9px;
	@extend .regular;
	font-size: 12px;
	z-index: 99;

	a {
		color: #fff;
	}
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}