// ==============================================
// GRID
// ==============================================

// 2 columns
.grid {

  &.row50 {

    > .container {
      @extend %clearfix;
      > * {
        width: 46%;
        float: left;
        &:first-child {
          margin-right: 4%;
        }
      }
    }

  }

}