// ==============================================
// HEADER
// ==============================================

// Main header
#header {
	background: $redFirebrick;
	padding: 5px 0;

	h1 {
		@extend .title;
		color: $white;
		font-size: 40px;
	}
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}