// ==============================================
// SECTIONS
// ==============================================

// Audience
.audience section {
	display: none;
	&.active {
		display: block;
	}
}

.section {
	margin: 20px 0;
}

.option {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 2px solid $creamFoam;
}

.main-ratings {
	margin-bottom: 20px;
}

// Speaker
.presentation {
	display: block;
}

.audios {
	display: none;
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}