// ==============================================
// AMOROMETRO
// ==============================================
// Custom styles just for amorometro website

$red: #E43C33;

#header {
	background: $red;

	h1 {
		font-family: 'Chicle', cursive;
		text-transform: none;
	}
}

footer {
	background: $red;
}

.bold,
.most_hated_user a,
.resume-container .user-message .highlight-user,
.btn,
h1,
h2,
h3 {
	font-family: 'Chicle', cursive;
}

#menu li a {

	&.active,
	&:hover,
	&:focus {
		background: $red;
	}

}

#number_tweets .num {
	font-family: 'Chicle', cursive;
}

.most_hated_user a {
	color: $red;
	letter-spacing: 1px;
}

#follow a {
	background: $red;
}

#header {

	h1 {

		// Knife images
		i {
			display: inline-block;
			background: url(../img/heart.png) no-repeat center center;
			background-size: contain;
			width: 40px;
			height: 40px;
			position: relative;
			top: 6px;

			&.right {
				background: url(../img/heart.png) no-repeat center center;
				background-size: contain;
			}
		}


	}
}