#header { background: #db332d; }
#header h1 { font-family: 'Chewy'; }

footer { background: #db332d; }

.bold, .most_hated_user a, .resume-container .user-message .highlight-user, .btn, h1, h2, h3 { font-family: 'Chewy', cursive; }

#menu li a.active, #menu li a:hover, #menu li a:focus { background: #db332d; }

#number_tweets .num { font-family: 'Chewy', cursive; }

.most_hated_user a { color: #db332d; letter-spacing: 1px; }

#follow a { background: #db332d; }

#header h1 i { display: inline-block; background: url(../img/amorometro/heart.png) no-repeat center center; background-size: contain; width: 40px; height: 40px; position: relative; top: 6px; }
#header h1 i.right { background: url(../img/amorometro/heart.png) no-repeat center center; background-size: contain; }
