/** RESET **/
* { padding: 0; margin: 0; font-size: 100%; line-height: 1; border: 0; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html { box-sizing: border-box; }

h2, h3, h4 { font-weight: normal; }

/** ABSTRACTS **/
@font-face { font-family: "LaramiePro Regular"; src: url("fonts/LaramiePro-Regular.eot"); src: url("fonts/LaramiePro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/LaramiePro-Regular.woff") format("woff"), url("fonts/LaramiePro-Regular.ttf") format("truetype"), url("fonts/LaramiePro-Regular.svg#LaramiePro Regular") format("svg"); font-weight: normal; font-style: normal; }
.regular, body, p, footer, #info p, #info li, input, h4 { font-family: 'Ubuntu', sans-serif; font-weight: 400; }

.bold, #number_tweets .num, #number_tweets .suffix, #most_hated_user > span, .btn, h1, h2, h3 { font-family: 'Bahiana', cursive; font-weight: 400; }

.title, #header h1 { font-family: 'Bahiana', cursive; font-weight: 400; }

.monospace, .tweets { font-family: 'Cutive Mono', monospace; }

@-moz-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-webkit-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-o-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-moz-keyframes bounce { 0% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  25% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  50% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  75% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  100% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bounce { 0% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  25% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  50% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  75% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  100% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@-o-keyframes bounce { 0% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  25% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  50% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  75% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  100% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@keyframes bounce { 0% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  25% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  50% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  75% { -moz-transform: translate3d(0, 5px, 0); -o-transform: translate3d(0, 5px, 0); -ms-transform: translate3d(0, 5px, 0); -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  100% { -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
/* BASE STYLES */
html, body { height: 100%; }

body { background: #fefefe; text-align: center; }

p { font-size: 18px; }

hr { display: block; width: 70px; height: 4px; background: rgba(0, 0, 0, 0.1); margin: 10px auto 20px auto; border: 0; }

sup, sub { font-size: 50%; vertical-align: baseline; position: relative; top: -0.70em; left: 0.05em; }

sub { top: 0.4em; }

@media (max-width: 980px) { html, body { height: auto; } }
@media (max-width: 767px) { h1, h2, h3 { font-size: 22px; line-height: 1.2; }
  hr { height: 1px; width: 90%; } }
.grid.row50 > .container:after { content: " "; display: table; clear: both; }

.underlines:after { -webkit-transition: width 0.5s ease; -moz-transition: width 0.5s ease; -o-transition: width 0.5s ease; transition: width 0.5s ease; display: block; position: relative; content: ''; width: 0; background: #cccccc; margin: 2px auto -2px; height: 1px; }
.underlines:hover:after, .underlines:focus:after { -webkit-transition: width 0.5s ease; -moz-transition: width 0.5s ease; -o-transition: width 0.5s ease; transition: width 0.5s ease; width: 100%; }

/** LAYOUT **/
.container { position: relative; max-width: 1180px; margin: 0 auto; text-align: center; }

@media screen and (max-width: 1200px) { .container { max-width: 100%; padding: 0 1.5%; } }
footer { position: absolute; bottom: 0; text-align: center; width: 100%; background: #8A0707; color: #fff; padding: 9px; font-size: 12px; z-index: 99; }
footer a { color: #fff; }

.grid.row50 > .container > * { width: 46%; float: left; }
.grid.row50 > .container > *:first-child { margin-right: 4%; }

#header { background: #8A0707; padding: 5px 0; }
#header h1 { color: #ffffff; font-size: 40px; }
#header h1 i { display: inline-block; background: url(../img/knife.png) no-repeat center center; background-size: contain; width: 40px; height: 40px; position: relative; top: 4px; }
#header h1 i.left { left: -10px; }
#header h1 i.right { left: 10px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -ms-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); }

#menu { position: fixed; bottom: 60px; left: 0; width: 100%; text-align: center; z-index: 2; }
#menu li { display: inline-block; }
#menu li a { width: 40px; height: 40px; background: #cccccc; display: inline-block; margin: 5px; border-radius: 50%; }
#menu li a.active, #menu li a:hover, #menu li a:focus { background: #8A0707; }
#menu li a i { color: #ffffff; position: relative; top: 8px; font-size: 23px; }
#menu li a i.fa-dashboard { top: 6px; }

.audience section { display: none; }
.audience section.active { display: block; }

.section { margin: 20px 0; }

.option { margin: 20px 0; padding-bottom: 20px; border-bottom: 2px solid #eaf7fd; }

.main-ratings { margin-bottom: 20px; }

.presentation { display: block; }

.audios { display: none; }

/** PAGES **/
.tweets { margin: 20px auto; padding: 30px; line-height: 1.2; height: 80px; }

#number_tweets .num { font-size: 70px; display: block; margin: 20px auto 0; }
#number_tweets .suffix { display: block; font-size: 24px; color: #cccccc; }

#real_time_graph { max-width: 100%; overflow: hidden; margin: 30px auto; }
#real_time_graph canvas { margin: 0 auto; }

#most_hated_user > span { color: #ccc; font-size: 24px; }

#most_hated_user { margin: 50px auto; }
#most_hated_user > span { color: #ccc; font-size: 24px; }

#info { margin: 50px auto; width: 600px; max-width: 90%; position: relative; z-index: 99; }
#info p, #info li { font-size: 14px; margin: 10px; color: #444; line-height: 1.2; }
#info a { color: #8A0707; font-weight: bold; }

/** HELPERS **/
.srt { clip: rect(1px, 1px, 1px, 1px); position: absolute; margin: 0; padding: 0; }

.srt:focus { background-color: #ccc; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto; color: #000000; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; text-transform: none; width: auto; z-index: 4; }

@media (max-width: 767px) { #skip-link { display: none; } }
.just-mobile { display: none !important; }

.just-ipad { display: none !important; }

@media (max-width: 980px) { .just-ipad { display: block !important; }
  .hide-portrait { display: none !important; } }
@media (max-width: 767px) { .just-mobile { display: block !important; }
  .hide-mobile { display: none !important; } }
.hidden { display: none !important; }

input[type="checkbox"] { -webkit-appearance: checkbox; }

input { -webkit-appearance: none; border-radius: 0; }

/** COMPONENTS **/
#blood { display: block; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1; }

.btn { -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; display: inline-block; font-size: 16px; line-height: 1.2; padding: 10px 20px 10px 20px; text-decoration: none; text-transform: uppercase; text-align: center; margin: 10px; }
.btn.btn-rating { border-radius: 50%; width: 100px; height: 100px; border: 3px solid #ccc; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.29804) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 #bbbbbb, 0 8px 3px 0 rgba(0, 0, 0, 0.2); }
.btn.btn-rating > i { color: #ffffff; font-size: 50px; position: relative; top: 10px; text-shadow: 0 2px 2px #444; }
.btn.btn-rating.active { box-shadow: none; -moz-transform: translate3d(0px, 5px, 0); -o-transform: translate3d(0px, 5px, 0); -ms-transform: translate3d(0px, 5px, 0); -webkit-transform: translate3d(0px, 5px, 0); transform: translate3d(0px, 5px, 0); }
.btn.btn-rating.rating-positive { border-color: #590505; background: #8A0707; }
.btn.btn-rating.rating-negative { border-color: #b3b3b3; background: #cccccc; }
.btn.btn-default { color: #444; border: 3px solid #444; }
.btn.btn-default:hover, .btn.btn-default:focus { background-color: #444; border-color: #ffffff; color: #ffffff; }
.btn.btn-twitter { color: #1da1f2; border: 3px solid #1da1f2; background: #ffffff; text-transform: none; padding: 10px; }
.btn.btn-twitter > i { margin-right: 5px; }

input { padding: 10px 20px; font-size: 14px; border: 2px solid #cccccc; width: 100%; margin: 0 0 10px; }

h1, h2, h3 { color: #000; font-size: 38px; line-height: 1.2; }

h4 { font-size: 18px; font-weight: bold; line-height: 1.5; }

#iframe { margin: 0; }

iframe { width: 100%; height: 92%; border: none; position: fixed; top: 54px; left: 0; }

/** PRINT **/
.just-print { display: none !important; }

/** I18N **/
/** SHAME **/
/** MEDIA QUERIES **/
