// ==============================================
// DASHBOARD
// ==============================================

// Tweets
.tweets {
	@extend .light;
	display: block;
	margin: 20px auto;
	padding: 30px;
	line-height: 1.2;
	height: 80px;
	max-width: 600px;
	color: $blackTundora;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

// Number of Tweets
#number_tweets {

	.num {
		@extend .title;
		font-size: 90px;
		display: block;
		margin: 20px auto 0;
	}

	.suffix {
		@extend .light;
		display: block;
		font-size: 20px;
		letter-spacing: -1px;
		color: $greyDark;
	}
}

// Real time graph
#real_time_graph {

	max-width: 100%;
	overflow: hidden;
	margin: 30px auto;
	canvas {
		margin: 0 auto;
	}
}
