// ==============================================
// DASHBOARD
// ==============================================

// Tweets
.tweets {
	margin: 20px auto;
	padding: 30px;
	@extend .monospace;
	line-height: 1.2;
	height: 80px;
}

// Number of Tweets
#number_tweets {

	.num {
		font-size: 70px;
		display: block;
		margin: 20px auto 0;
		@extend .bold;
	}

	.suffix {
		display: block;
		font-size: 24px;
		color: $greySilver;
		@extend .bold;
	}
}

// Real time graph
#real_time_graph {

	max-width: 100%;
	overflow: hidden;
	margin: 30px auto;
	canvas {
		margin: 0 auto;
	}
}

// Most hated user
#most_hated_user {
	> span {
		@extend .bold;
		color: #ccc;
		font-size: 24px;
	}
}