// ==============================================
// DASHBOARD
// ==============================================

// Tweets
.tweets {
	@extend .monospace;
	margin: 20px auto;
	padding: 30px;
	line-height: 1.2;
	height: 80px;
	max-width: 600px;
}

// Number of Tweets
#number_tweets {

	.num {
		font-size: 70px;
		display: block;
		margin: 20px auto 0;
		@extend .bold;
	}

	.suffix {
		display: block;
		font-size: 24px;
		color: $greySilver;
		@extend .bold;
	}
}

// Real time graph
#real_time_graph {

	max-width: 100%;
	overflow: hidden;
	margin: 30px auto;
	canvas {
		margin: 0 auto;
	}
}

// Most hated user
#user-container {

	.tweets {
		margin: 0 auto;
		padding: 0 30px;
		height: auto;
	}

	.hate-user {
		float: left;
		width: 50%;

		&.hateful-user {
			border-right: 4px solid $redFirebrick;
			height: 64vh;
		}
	}
}
