// ==============================================
// HISTORIC
// ==============================================

// MENU
#historic {
	margin: 50px 0;

	.subtitle {
		display: block;
		margin: 10px 0;
	}

	select {
		padding: 5px 10px;
		margin-left: 5px;
	}
}

// STATS
.stats-container {
	margin: 25px auto;
	width: 800px;
	height: 400px;
	max-height: 40vh;
}

// RESUME
.resume-container {
	padding: 20px 0;
	text-align: center;

	section {
		padding: 20px;
	}

	.user-message {
		@extend .bold;
		font-size: 24px;
		color: #aaa;

		b {
			font-weight: normal;
			color: $blackTundora;
		}

		.user-container {
			text-align: center;
			margin: 10px auto;
		}

		.highlight-user {
			color: $redFirebrick;
			font-size: 40px;
		}
	}

	.example-container {
		@extend .monospace;
		display: block;
		margin: 10px auto;
		width: 600px;
		max-width: 90%;

		a {
			color: $blackTundora;
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	.others {
		@extend .bold;
		margin: 10px;
		font-size: 20px;
		color: #aaa;

		ul {
			display: inline-block;
			margin-left: 5px;
		}

		li {
			display: inline-block;
			margin-right: 10px;
		}

		a {
			color: $blackTundora;
		}
	}
}

@include mobile {

	// MENU
	#historic {
		margin: 20px 0;

		.subtitle {
			text-align: center;
			font-size: 12px;
		}

	}

	// STATS
	.stats-container {
		width: 90%;
		height: 240px;
	}

	// RESUME
	.resume-container {
		padding: 0;

		section {
			padding: 10px;
		}

		.user-message {
			font-size: 17px;

			.highlight-user {
				font-size: 34px;
			}
		}

		.example-container {
			max-height: 36px;
			overflow: hidden;
			font-size: 12px;
		}

		.others {
			max-height: 21px;
			overflow: hidden;
		}
	}

}

@include ipadPortrait {

	// STATS
	.stats-container {
		width: 90%;
	}

}