// ==============================================
// HISTORIC
// ==============================================

#historic {
	margin: 50px 0;

	.subtitle {
		display: block;
		margin: 10px 0;
	}

	select {
		padding: 5px 10px;
		margin-left: 5px;
	}
}

.stats-container {
	margin: 25px auto;
	width: 800px;
	height: 400px;
	max-height: 40vh;
}

@include mobile {

	.stats-container {
		width: 90%;
		height: 240px;
	}

	#historic {
		margin: 20px 0;

		.subtitle {
			text-align: center;

			select {
				display: block;
				margin: 10px auto;
			}
		}

	}

}

@include ipadPortrait {

	.stats-container {
		width: 90%;
	}

}