// ==============================================
// INFO
// ==============================================

#info {
	margin: 50px auto;
	width: 600px;
	max-width: 90%;
	position: relative;
	z-index: 99;

	p, li {
		@extend .regular;
		font-size: 14px;
		margin: 10px;
		color: $blackTundora;
		line-height: 1.2;
	}

	a {
		color: $redFirebrick;
		font-weight: bold;
	}
}