// ==============================================
// USER
// ==============================================

// Most hated user
.most_hated_user {
	margin: 10px auto;

	>span {
		@extend .light;
		color: #aaa;
		font-size: 16px;
		line-height: 1.2;

		b {
			font-weight: normal;
			color: $blackTundora;
		}
	}

	a {
		@extend .bold;
		letter-spacing: -1px;
		color: $redFirebrick;
		text-decoration: none;
		font-size: 34px;
		text-transform: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

#user-container {

	&::after {
		content: ' ';
		display: block;
		clear: both;
	}

	.tweet {
		margin: 0 auto 30px;
	}

	.hate-user {
		float: left;
		width: 50%;
		text-align: center;
		padding: 0 10px;

		.image {
			margin-top: 40px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			display: inline-block;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.hated-user {
			margin-bottom: 130px;
		}

	}
}

@include mobile {

	.most_hated_user {
		margin: 10px auto 5px;

		h3 a {
			font-size: 22px;
		}

		>span {
			font-size: 16px;

			b {
				display: block;
			}
		}
	}

	#user-container {

		.hate-user {
			float: none;
			width: 100%;

			.image {
				margin-top: 20px;
				width: 60px;
				height: 60px;
			}
		}

		.tweets {
			padding: 0 10px;
			font-size: 10px;
		}

	}

}