// ==============================================
// USER
// ==============================================

// Most hated user
.most_hated_user {
	margin: 50px auto;
	> span {
		@extend .bold;
		color: #aaa;
		font-size: 24px;
		line-height: 1.2;

		b {
			font-weight: normal;
			color: $blackTundora;
		}
	}

	a {
		color: $redFirebrick;
	}
}