// ==============================================
// HELPERS
// ==============================================
// General classes used along the whole site + other specific helper classes

// Hiding elements
.hidden {
  display: none !important;
}

// Form styling
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}