// ==============================================
// SHAME!
// ==============================================
// Please use this file just when you don't know to place your styles
// Let's try to keep it empty, guys!

// ==============================================
// SHAME! IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// SHAME! IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// SHAME! MOBILE
// ==============================================
@include mobile {

}