// ==============================================
// FONTS
// ==============================================

// Mixin for fonts
@mixin typo($t,$name) {
	@font-face {
		font-family: $name;
		src: url('fonts/#{$t}.woff2') format('woff2'),
		url('fonts/#{$t}.woff') format('woff'),;
		font-weight: normal;
		font-style: normal;
	}
}

@include typo('Montserrat-Light', 'Montserrat Light');
@include typo('Montserrat-Regular', 'Montserrat Regular');
@include typo('Montserrat-SemiBold', 'Montserrat SemiBold');
@include typo('Tungsten-Bold', 'Tungsten Bold');

// List of fonts
.light {
	font-family: 'Montserrat Light', sans-serif;
}

.regular {
  font-family: 'Monstserrat Regular', sans-serif;
  font-weight: 400;
}

.bold {
	font-family: 'Montserrat SemiBold', sans-serif;
	font-weight: 400;
}

.title {
	font-family: 'Tungsten Bold', sans-serif;
	font-weight: 400;
}