// ==============================================
// MEDIA QUERY DECLARATIONS
// ==============================================

$mobile-min-width: 320px;
$mobile-width: 768px;
$tablet-width: 980px;
$desktop-width: 1024px;

// TABLET LANDSCAPE
@mixin littleDesktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

// TABLET LANDSCAPE
@mixin ipadLandscape {
  @media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

// TABLET PORTRAIT
@mixin ipadPortrait {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

// MOBILE
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

// TINY MOBILE
@mixin mobileTiny {
  @media (max-width: #{$mobile-min-width}) {
    @content;
  }
}