// ==============================================
// BUTTONS
// ==============================================

// Vars
$btnMainBg: #ccc;
$btnMainBorder: $white;
$btnMainHoverBg: #ccc;
$btnMainHoverBorder: #ccc;

// GENERAL BUTTON
.btn {
  @extend .bold;
  @include transition(all 0.2s ease);
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;

  // RATING BUTTONS
  &.btn-rating {

    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ccc;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187), 0 8px 3px 0 rgba(0,0,0,0.2);

    // Icon
    > i {
      color: $white;
      font-size: 50px;
      position: relative;
      top: 10px;
      text-shadow: 0 2px 2px #444;
    }

    &.active {
      box-shadow: none;
      @include translateY(5px);
    }

    // Rating Finale
    &.rating-positive {
      border-color: darken($redFirebrick, 10%);
      background: $redFirebrick;
    }

    &.rating-negative {
      border-color: darken($greySilver, 10%);
      background: $greySilver;
    }

  }

  // DEFAULT BUTTON
  &.btn-default {
    color: $blackTundora;
    border: 3px solid $blackTundora;

    &:hover, &:focus {
      background-color: $blackTundora;
      border-color: $white;
      color: $white;
    }
  }

  // TWITTER BUTTON
  &.btn-twitter {
    color: $twitter;
    border: 3px solid $twitter;
    background: $white;
    text-transform: none;
    padding: 10px;

    // Twitter icon
    > i {
      margin-right: 5px;
    }
  }

  // ALTERNATE BUTTON
  &.btn-alternate {
    // Use if alternate button
  }

}


// ==============================================
// MOBILE
// ==============================================
@include mobile {

}