// ==============================================
// DASHBOARD
// ==============================================

// Tweets
#tweets {

	margin: 40px auto;
	padding: 30px;
	border: 2px solid $greySilver;
}