// ==============================================
// DASHBOARD
// ==============================================

// Tweets
#tweets {
	margin: 40px auto;
	padding: 30px;
	border: 2px solid $greySilver;

	// Highlighted
	b {
		//font-weight: bold; // Already bold
	}
}

// Number of Tweets
#number_tweets {

	.num {
		font-size: 40px;
		display: block;
		margin: 20px;
	}

	.suffix {
		display: block;
		font-size: 16px;
		color: $greySilver;
	}
}

// Real time graph
#real_time_graph {

	max-width: 100%;
	overflow: hidden;
	margin: 30px auto;
	canvas {
		margin: 0 auto;
	}
}