// ==============================================
// FORMS
// ==============================================

input {
	@extend .regular;
	padding: 10px 20px;
	font-size: 14px;
	border: 2px solid $greySilver;
	width: 100%;
	margin: 0 0 10px;
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}