// ==============================================
// TITLES
// ==============================================

h1, h2, h3 {
	@extend .bold;
	color: $mainColor;
	font-size: 38px;
	line-height: 1.2;
}

h4 {
	@extend .regular;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {

}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}